body {
}

.main-container{
    width: 1170px;
    margin: auto;
}
#msgNum {
	background-color: red;
}

#maincontent {
	margin-left: 40px;
	margin-top: 5px;
}

#maincontent-nologin {
	margin-left: 170px;
	margin-top: 5px;
}

#pub-fixed{
    position: fixed;
    bottom: 0px;
    right: 0%;
    clear: both;
}

#pub-fixed img{
    float: right;
}

#pub-fixed .close-btn{
    cursor: pointer;
    color: #428bca;
    text-decoration: none;
}
header .top{
    height: 35px;
    background-color: #f9f9f9;
    border-bottom: 1px #e7e7e7 solid;
    color: #afafaf;
}
header .userinfo{
    float: right;
    line-height: 35px;
}
.logo-banner img{
    height: 50px;
    margin-top: 20px;
    margin-left: -8px;
}
.logo-banner .logo-ass{
    margin-top: 5px;
    font-size: 19px;
    color: #AC9BB1;
}
header .navtabs{
    height: 30px;
    background-color: #FC9F40;
    margin-top: 20px;
}
header .navtabs .navtab{
    width: 130px;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
    float: left;
    color: white;
}
header .navtabs .navtab.active{
    background-color: #5B5B5B;
    color: #FC9F40;
}
header .navtabs .navtab.right{
    float: right;
}