body {
}

.main-container{
    width: 1170px;
    margin: auto;
    padding-left: 14px;
    padding-right: 14px;
}
.content-wrapper{
    min-height: 800px;
}
#msgNum {
	background-color: red;
}

#maincontent {
	margin-left: 40px;
	margin-top: 5px;
}

#maincontent-nologin {
	margin-left: 170px;
	margin-top: 5px;
}

#pub-fixed{
    position: fixed;
    bottom: 0px;
    right: 0%;
    clear: both;
}

#pub-fixed img{
    float: right;
}

#pub-fixed .close-btn{
    cursor: pointer;
    color: #428bca;
    text-decoration: none;
}
header .top{
    height: 35px;
    background-color: #f9f9f9;
    border-bottom: 1px #e7e7e7 solid;
    color: #afafaf;
}
.userinfo a.font:hover{
    color: #afafaf;
}
.userinfo a.font{
    color: #afafaf;
    text-decoration: none;
}
.userinfo .dropdown a.dropdown-toggle{
    text-decoration: underline;
}
header .userinfo{
    float: right;
    line-height: 35px;
}
.logo-banner img{
    height: 50px;
    margin-top: 20px;
    margin-left: -8px;
}
.logo-banner .logo-ass{
    margin-top: 5px;
    font-size: 19px;
    color: #AC9BB1;
}
header .navtabs{
    height: 35px;
    background-color: #FC9F40;
    margin-top: 20px;
}
header .navtabs .navtab{
    width: 130px;
    height: 100%;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    cursor: pointer;
    float: left;
    color: white;
}
header .navtabs .navtab a{
    color: white;
    text-decoration: none;
}
header .navtabs .navtab.active{
    background-color: #5B5B5B;
    color: #FC9F40;
}
header .navtabs .navtab.active a{
    color: #FC9F40;
    text-decoration: none;
}
header .navtabs .navtab.right{
    float: right;
}
.pub-banner{
    height: 450px;
}
.pub-banner .slide{
    width: 800px;
    height: 450px;
    float: left;
}
.carousel-caption .info .left{
    float: left;
}
.carousel-caption .info .right{
    float: right;
    margin-top: -12px;
}
.carousel-caption .info .num .big{
    color: #F29F40;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.carousel-caption .info{
    position: relative;
    bottom: -50px;
    padding-left: 20px;
    background-color: rgba(0,0,0,0.3);
    height: 120px;
    padding: 20px;
}
.carousel-caption .info .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carousel-inner{
    height: 100%;
}
.carousel-inner .item{
    height: 100%;
}

.pub-banner .fix-right{
    float: left;
    width: 330px;
    height: 450px;
    margin-left: 10px;
}
.pub-banner .fix-right .pic1{
    width: 330px;
    height: 300px;
}
.pub-banner .fix-right .pic2{
    margin-top: 10px;
    width: 330px;
    height: 140px;
}

.footer-info{
    height: 65px;
    background-color: #f9f9f9;
    border-top: 1px #e7e7e7 solid;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 20px;
    color: #afafaf;    
}