.chatHide {
    display: none;
}

.chatContainer {
    position: fixed;
    float: right;
    right: 0px;
    bottom: 0px;
}

.chatBox {
    width: 285px;
    height: 320px;
    float: left;
}

.chatBoxInner {
    position: absolute;
    bottom: 0px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}


.chatTitle {
    width: 270px;
    padding: 5px;
    border: 1px solid #DDDDDD;
    background-color: #AAAAAA;
}

.chatCont {
    padding: 5px;
}

.chatOutput {
    border: 1px solid #DDDDDD;
    width: 270px;
    height: 190px;
    overflow-y: scroll;
}

.chatInput {
    width: 270px;
    text-align: right;
    margin-top: 5px;
}

.chatText {
    width: 260px;
    resize: none;
}

.chatSend {
    margin-top: -10px;
}

.chatChooser {
    width: 200px;
    float: right;
}

.chatChooserInner {
    position: absolute;
    bottom: 0px;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    padding: 5px;
}

.chatIDInput {
    width: 120px;
}

.cometFrame {
    width: 1px;
    height: 1px;
    overflow: hidden;
    display: none;
}

.chatNickName_me {
    color: blue;
}

.chatTime_me {
    color: blue;
}

.chatContent_me {
    
}

.chatNickName_oppo {
    color: red;
}

.chatTime_oppo {
    color: red;
}

.chatContent_oppo {
    
}

.closeButton {

}

.hideButton {

}

.historyMe {
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom: 1px solid #E3EEF8;
}

.historyMe .historyNickName {
	color: blue;
}

.historyMe .historyTime {
	margin-left: 10px;
	color: blue;
}


.historyOppo {
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom: 1px solid #E3EEF8;
}

.historyOppo .historyNickName {
	color: red;
}

.historyOppo .historyTime {
	margin-left: 10px;
	color: red;
}

.historyContent {
}

