a{ text-decoration:none;}
a:hover{ text-decoration:none; }

.shopInfo{
	float: left;
	margin: 0 0 20px 30px;
	width: 310px;
	height: 190px;
	background-color: #63C7E1;
	color: white;
	display: inline-block;
	cursor: pointer;
	padding-left: 10px;
	box-shadow: 4px 4px 2px #bbbbbb;
}
.shopInfo:hover{
	background-color: #4FBBD7;
}

.shopInfo h3{
	text-align: center;
}
.shopInfo .base{
	font: 17px "microsoft yahei","宋体b8b\4f53";
	font-weight: bold;
	line-height: 30px;
	display: inline-block;
}
.shopInfo .added{
	font: 15px "microsoft yahei","宋体b8b\4f53";
}
