.badge {
	background-color: #eed3d7;
	color: #b94a48;
	font-size: 15px;
	font-weight: bold;
}

.panel > .panel-heading.order-heading {
	color: #3a87ad;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
}

.order-content {
	background-color: rgba(255, 255, 255, 0.6);
}

.del-btn {
	cursor: pointer;
	position: relative;
	float: right;
	top: -10px;
	right: 20px;
}

.create-time {
	position: relative;
	float: left;
	top: -10px;
	left: 20px;
}

.comment {
	left: 20px;
}

