.mesTextarea{
	padding-bottom: 50px;
}
.lmBtn{
	float: right;
}
.pagination{
	clear: both;
}
#mesList{
	margin-top: 50px;
	padding-right: 165px;
	padding-left: 150px;
}
#repUser{
	margin-top: 4px;
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid #d5d5d5;
}
#repUser textarea{
	width: 570px;
}
#repUser button{
	position: relative;
	left: 530px;
}

.replyPart{
	padding-left: 30px;
	padding-top: 10px;
	border-top: 1px solid #E3EEF8;
}
.mesPart{
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #E3EEF8;
}
.mesPart .mesUser{
	color: #005AA0;
	font-size: 14px;
}
.mesPart .mesTime{
	margin-left: 10px;
	color: #999999;
}
.mesRep span{
	cursor: pointer;
}
.mesPart .mesRep{
	color: #92CBC4;
	margin: 0px;
	text-align: right;
}
.mesRep .hiddenButton {
	visibility: hidden;
}

.pagelink {
	width:100%;
	text-align: right;
}

.cancelbtn {
	color: #2a6496;
	display: inline-block;
	padding: 8px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
}

.cancelbtn:hover {
	color: #084274;
	text-decoration: none;
}
